{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-locationpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="overview">
        <p>Open 24 hours? {{ page.open24x7 }}</p>
        <p>Study spaces? {{ page.study }}</p>
    </div>

    <div class="location">
        Lat: {{ page.latitude }}<br>
        Long: {{ page.longitude }}
    </div>

    <div class="body">{{ page.body|richtext }}</div>

    {% for item in page.gallery_images.all %}
        <div style="float: left; margin: 10px;">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
            
        </div>
    {% endfor %}

    <hr style="clear: both;">

    {% with academics=page.academics.all %}
            {% if academics %}
            <h2>Academic fields</h2>
                    <ul>
                        {% for field in academics %}
                        <li>{{ field.name }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
    {% endwith %}

    <p><a href="{{ page.get_parent.url }}">Return to locations</a></p>
{% endblock %}
